<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="layouts/default">
<head>
<title th:text="#{users}"></title>
</head>
<body>
<div layout:fragment="content">
<div class="container-fluid">
	<div class="well well-sm">
		<a class="btn btn-primary" role="button" th:text="#{btn.register}" th:href="@{/user/register}">Register</a>
	</div> 
	<table class="table table-hover">
  		<thead>
  			<tr>
  				<th class="col-sm-1" th:text="#{id}">Id</th>
  				<th class="col-sm-2" th:text="#{username}">User Name</th>
  				<th class="col-sm-3" th:text="#{lastname}">Last Name</th>
  				<th class="col-sm-3" th:text="#{firstname}">First Name</th>
  				<th class="col-sm-2" th:text="#{action}">Action</th>
  			</tr>
  		</thead>
  		<tbody>
  			<tr th:each="user : ${users}">
  				<td th:text="${user.id}">123</td>
  				<td th:text="${user.username}">dara</td>
  				<td th:text="${user.lastName}">Sok</td>
  				<td th:text="${user.firstName}">Dara</td>
  				<td>
  					<a class="btn btn-primary" role="button" th:text="#{btn.view}" th:href="@{'/user/view/' + ${user.id}}">View</a>
  					<a class="btn btn-primary" role="button" th:text="#{btn.delete}" th:href="@{'/user/delete/' + ${user.id}}">Delete</a>
  				</td>
  			</tr>
  		</tbody>
	</table>

</div>
</div>
</body>
</html>