<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
</head>
<body>
<div th:fragment="header">
<nav class="navbar navbar-default">
	<div class="navbar-header">
		<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse-1" aria-expanded="false">
			<span class="sr-only">Toggle navigation</span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
		</button>
		<a class="navbar-brand" th:text="#{app.title}" th:href="@{/}">App Title</a>
	</div>
	
	<div class="collapse navbar-collapse" id="navbar-collapse-1">
		<ul class="nav navbar-nav navbar-right">
			<li><a th:text="#{users}" th:href="@{/user}">Users</a></li>
			<li><a th:text="#{roles}" th:href="@{/role}">Roles</a></li>
			<li class="dropdown">
				<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
					<span sec:authentication="name">Auth name</span> <span class="caret"></span>
				</a>
				<ul class="dropdown-menu">
					<li><a th:text="#{lang.en}" th:href="@{?lang=en}">En</a></li>
					<li><a th:text="#{lang.fr}" th:href="@{?lang=fr}">Fr</a></li>
					<li role="separator" class="divider"></li>
					<li><a th:text="#{logout}" th:href="@{/logout}">Logout</a></li>
				</ul>
			</li>
		</ul>
	</div>
</nav>
</div>	
</body>
</html>